body {
    background: #fefae0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    box-sizing: border-box;
    max-width: 320px;
}

.banner, .container, img, p, #checkbox, .text-label, .comment, button  {
   display: block; 
}

.margin-20px-auto {
    margin: 20px auto;
}

.banner, .container {
    background: #669bbc;
    padding: 30px;
    width: 1300px;
}

.banner {
    height: 450px;
}


img {
    height: 300px;
    min-height: 150px;
}

.container {
    background: #e76f51;
    font-size: 25px;
}

h1, h2, h4 {
    text-align: center;
}

h1 {
    font-size: 50px; 
}

h2  {
    padding: 10px;
    border-bottom: 5px solid;
    width: 1000px;
}

h4 {
    font-size: 30px;
}

p {
    margin: 0 auto;
    text-align: justify;
    width: 60%;
}

.info {
    margin: 15px;
}

.form-content {
    background: #fefae0;
    padding: 15px;
    width: 800px;
}

input {
    height: 30px;
    font-size: 25px;
    margin: 0 5px;
}

fieldset {
    margin: 10px;
}

.text-label {

    padding: 10px 30px;
}

.comment, button {
    font-size: 25px;
    padding: 10px 30px;
}

button {
    padding: 10px 30px;
    font-size: 30px;
    border-radius: 30px;
    background-color: #f2cc8f;
    font-weight: bold;
}

input[type="checkbox"], select, input[type="radio"] {
    width: 30px;
    height: 20px;
    font-size: 25px;
}

.others {
    margin: 0px 20px;
    height: 22px;
    padding: 0 px;
    font-size: 20px;
}

select {
    height: 30px;
    font-size: 20px;
    width: 100px;
}



